*{
    background-color: #2F495A;
}

h1{
    text-align: center;
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculator{
    padding: 16px;
    border-radius: 30px;
    background-color: #7c7f81;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    box-shadow: inset 5px 5px 12px #2F495A , 5px 5px 12px rgba(255, 254, 254, 0.753);
}

input{
    height: 70px;
    width: 400px;
    grid-column: span 6;
    background-color:  #2F495A ;
    box-shadow: inset 5px 5px 12px #2F495A, -5px -5px rgba(255, 254, 254, 0.753);
    border: none;
    border-radius: 30px;
    color: rgb(255, 254, 254, 0.753);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    background-color: #2F495A;
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 50%;
    box-shadow: -5px -5px 12px #1d1c1c, 5px 5px 12px rgba(255, 254, 254, 0.753);
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: red;
}

button:hover{
    background-color: red;
    color: gray;
}

.hasil{
    width: 80px;
    border-radius: 45px;
    box-shadow: inset -5px -5px 12px #1d1c1c, 5px 5px 12px rgba(255, 255, 255, 0.685);
    background-color: green;
}
